@model gsnet.Models.User

<h1>Excluir Usuário</h1>

<div>
    <h4>UserId: @Model.UserId</h4>
    <h4>Nome: @Model.FirstName</h4>
    <h4>Sobrenome: @Model.LastName</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Cargo: @Model.JobTitle</h4>
    <h4>Nome de Usuário: @Model.UserName</h4>
</div>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.UserId" method="post">
    <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" />
    <a asp-action="Index">Cancelar</a>
</form>
