@model gsnet.Models.User

<h1>Detalhes do Usuário</h1>

<div>
    <h4>Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>

    <h4>Sobrenome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>

    <h4>Email</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
    </dl>

    <h4>Nome de Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.UserId">Editar</a> |
        <a asp-action="Index">Voltar à Lista</a>
    </div>
</div>
