@model gsnet.Models.Projeto

<h2>Detalhes do Projeto</h2>

<div>
    <h4>Id: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">Data de Início</dt>
        <dd class="col-sm-10">@Model.dt_inicio.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Data de Término</dt>
        <dd class="col-sm-10">@Model.dt_final.ToString("dd/MM/yyyy")</dd>
        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
